<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hr.nas2skupa.eleventhhour">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="hr.nas2skupa.eleventhhour.auth.SignInActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="hr.nas2skupa.eleventhhour.MAIN"/>
                <action android:name="hr.nas2skupa.eleventhhour.ACTION_HOME"/>
                <action android:name="hr.nas2skupa.eleventhhour.ACTION_CALENDAR"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CategoryActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.ProviderActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ProviderTheme"/>
        <activity
            android:name=".ui.MapActivity_"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme.Light.TranslucentStatus"/>

        <meta-data
            android:name="app_entry_point"
            android:value="hr.nas2skupa.eleventhhour.MAIN"/>
    </application>

</manifest>